#register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: blue;
    text-transform: uppercase;
}

#form_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding : 10px;
}

#name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    
}
.name{
    margin: 10px;
    padding : 10px;
}

#email{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding : 10px;
}

#sexe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding : 10px;
}

#commentaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding : 10px;
}

#titre{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 10px;
    color :grey;
}
#display_civilite{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin:10px;
}
#text{
    color: black;
    background-color: rgba(211, 211, 211, 0.514);
    border: 1px solid rgba(0, 0, 0, 0);
}
#page{
    background-color: lightgray;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result{
    margin: 10px;
    font-weight: bold;
}
#submit{
    border: 10px solid black;
    background-color: black;
    color: white;
    border-radius: 10%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gill Sans", sans-serif;
}
#display_warning{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
    color: red;
    border: 2px dotted red;
    background-color: #f7bcbc;
    padding: 1%;
}
#icone{
    grid-row: 1;
    grid-column: 1;
}
#liste_warning{
    grid-row: 1;
    grid-column: 2;
}
.error{
    color: red;

}
#email_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.label{
    margin: 10px;
    padding: 10px;
}

#sexe_input{
    margin-left: 10%;
}
#lastname{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}
#lastname input{
    grid-row: 1;
    grid-column: 2;
}
#lastname b{
    grid-row: 1;
    grid-column: 1;
}
#lastname b label{
    float: right;
}
.star_icon{
    grid-row: 1;
    grid-column: 3;
    height: 10%;
    width: 10%;
}
#error_nom{
    grid-row: 2;
    grid-column: 2;
}
#firstname{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}
#firstname input{
    grid-row: 1;
    grid-column: 2;
}
#firstname b{
    grid-row: 1;
    grid-column: 1;
}
#firstname b label{
    float: right;
}
#error_prenom{
    grid-row: 2;
    grid-column: 2;
}

#email_div{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}
#email_div input{
    grid-row: 1;
    grid-column: 2;
}
#email_div b{
    grid-row: 1;
    grid-column: 1;
}
#email_div b label{
    float: right;
}
#error_email{
    grid-row: 2;
    grid-column: 2;
}

